:root {
    --main-bg-color: #f7f7f7;
}

body {
    padding-top: 56px; /* SB */
    background-color: var(--main-bg-color);
}

#locale {
    border: none;
    background-color: transparent;
}

/* GRID */

.c-grid {
    display: grid;
    gap: 0.25rem;
}

.c-grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.c-grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* SPINNER */

.c-spinner-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
